.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;
}

@media (min-width: 1200px) {
  .productGrid {
    grid-template-columns: repeat(5, 1fr); /* 5 sản phẩm hàng lớn */
  }
}

.productCard {
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  padding: 12px;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productImg {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  position: relative;
}

.productBadge {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 6px;
}

.productImg:hover {
  opacity: 1;
}

@media (max-width: 576px) {
  .productImg {
    height: 150px;
  }

}
